.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.right {
  text-align: right;
}
.text {
  line-height: 2;
}
.card {
  margin: 30px;
}

.textmax {
  font-size: 30px;
}
.textmin {
  font-size: 12px;
}
ul {
  padding-left: 0;
}

li {
  list-style: none;
}
